---
import { getCollection } from "astro:content";

import Layout from "@layouts/Layout.astro";
import PageTitle from "@components/PageTitle.astro";
import Tag from "@components/Tag.astro";

const allDatasets = await getCollection("datasets");
const allModels = await getCollection("models");
const allResources = await getCollection("other-resources");
const allTools = await getCollection("tools");
const allPosts = [...allDatasets, ...allModels, ...allResources, ...allTools];
const tags = [
  ...new Set(allPosts.map((post) => post.data.tags ?? []).flat()),
].sort();
const pageTitle = "Tags";
---

<Layout title={pageTitle}>
  <PageTitle>Tags</PageTitle>
  <div class="flex flex-wrap mt-16 justify-center gap-2 max-w-[800px] mx-auto">
    {tags.map((tag) => <Tag tag={tag} />)}
  </div>
</Layout>
