---
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';

const allPosts = await getCollection("datasets");
---

<Layout title="Forest Catalog | Datasets">
	<main>
		<h1>Datasets</h1>
    <ul>
      {allPosts.map((post) => <li><a href={`/datasets/${post.slug}`}>{post.data.title}</a></li>)}
    </ul>
  </main>
</Layout>