---
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';

const allPosts = await getCollection("models");
---

<Layout title="Forest Catalog | Models">
	<main>
		<h1>Models</h1>
    <ul>
      {allPosts.map((post) => <li><a href={`/${post.collection}/${post.slug}`}>{post.data.title}</a></li>)}
    </ul>
  </main>
</Layout>