---
import "@docsearch/css";

import NavLink from "@components/Navigation/NavLink.astro";

const navMap = [
  { path: "/blog", label: "Blog" },
  { path: "/datasets", label: "Datasets" },
  { path: "/models", label: "Models" },
  { path: "/tools", label: "Tools" },
  { path: "/other-resources", label: "Other Resources" },
];
---

<header
  class="sticky z-10 top-0 left-0 w-full p-2 bg-sushi-300/90 md:px-4 shadow"
  transition:animate="none"
>
  <nav
    class="font-medium flex justify-between flex-wrap items-center justify-between mx-auto"
  >
    <a href="./" class="text-xl font-bold">Forest Catalogue</a>

    <div
      id="docsearch"
      class="flex flex-grow justify-end"
      transition:animate="none"
      transition:persist
    >
    </div>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="ml-3 inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg md:hidden hover:bg-sushi-800 hover:text-sushi-200"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open navigation menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="flex flex-col p-4 md:p-0 mt-4 rounded-lg md:flex-row md:mt-0 bg-sushi-500 md:bg-inherit"
        transition:animate="fade"
      >
        {
          navMap.map((navItem) => (
            <NavLink label={navItem.label} path={navItem.path} />
          ))
        }
      </ul>
    </div>
  </nav>
</header>
<script>
  import docsearch from "@docsearch/js";
  document.addEventListener("astro:page-load", () => {
    docsearch({
      container: "#docsearch",
      appId: "SGDQX4T4HI",
      apiKey: "b5f7d30961732cb972f135de58241f00",
      indexName: "forestcatalogue",
      insights: true, // Optional, automatically send insights when user interacts with search results
    });
  });
</script>
