<header class="sticky top-0 left-0 w-full p-4 mb-8 bg-sushi-300/90">
  <nav class="flex justify-between gap-2 flex-wrap">
    <a href="./" class="hover:font-bold focus:font-bold">
      Home
    </a>
    <ul class="flex gap-4 flex-wrap">
      <li>
        <a href="./datasets" class="hover:font-bold focus:font-bold">
          Datasets
        </a>
      </li>
      <li>
        <a href="./models" class="hover:font-bold focus:font-bold">
          Models
        </a>
      </li>
      <li>
        <a href="./tools" class="hover:font-bold focus:font-bold">
          Tools
        </a>
      </li>
      <li>
        <a href="./other-resources" class="hover:font-bold focus:font-bold">
          Other Resources
        </a>
      </li>
    </ul>
  </nav>
</header>