---
import Navigation from '../components/Navigation.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en"">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href=`${import.meta.env.BASE_URL}/favicon.svg` />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <base href={import.meta.env.BASE_URL+'/'} />
	</head>
	<body class="min-h-screen min-w-screen p-8 bg-sushi-300 text-sushi-900 ">
    <Navigation />
		<slot />
	</body>
</html>
