---
import Layout from "./Layout.astro";
import PageTitle from "@components/PageTitle.astro";
import PostCard from "@components/PostCard.astro";

const { frontmatter } = Astro.props;
const hasMarkdown = Astro.slots.has("default");
const markdown = await Astro.slots.render("default");
---

<Layout title={frontmatter.title}>
  <PageTitle>{frontmatter.title}</PageTitle>
  <div
    class="p-4 bg-sushi-200 rounded max-w-[640px] mx-auto mt-8 gap-4 flex-col flex"
  >
    <PostCard frontmatter={frontmatter} />
    {
      hasMarkdown && markdown ? (
        <article class="prose mt-20">
          <slot />
        </article>
      ) : null
    }
  </div>
</Layout>
